#heaven_bg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  background-size: cover;
}

@font-face {
  font-family: 'FK Raster';
  src: url(../fonts/FKRasterGrotesk.woff) format("woff"), url(../fonts/FKRasterGrotesk.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url(../fonts/Aeonik.woff) format("woff"), url(../fonts/Aeonik.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-family: 'FK Raster';
  letter-spacing: 0.1rem;
}

#heaven_title {
  color: white;
  margin-top: 2rem;
}

#heaven_logo {
  margin-right: 2rem;
  width: 5rem;
  height: 5rem;
}

.floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 12px);
            transform: translate(0, 12px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 12px);
            transform: translate(0, 12px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  min-width: 450px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
}

#add_task {
  position: relative;
  width: 20rem;
  padding: 30px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#textbox {
  padding-left: 1rem;
  font-family: 'Aeonik';
  margin-right: 0.5rem;
  color: white;
  background-color: none;
  border-radius: 60px;
  border-style: none;
  height: 2.5rem;
  width: 100%;
  background: #41417c31;
  border-radius: 60px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.11);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 0.25px solid rgba(255, 255, 255, 0.95);
}

input[type="text"] {
  font-family: 'Aeonik';
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

#element_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  list-style: none;
  height: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#add_button {
  font-family: 'Aeonik';
  color: white;
  border-radius: 60px;
  border-style: none;
  height: 2.5rem;
  width: 4rem;
  /* From https://css.glass */
  background: #41417c34;
  border-radius: 60px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 0.25px solid rgba(255, 255, 255, 0.95);
}

.task {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.055);
  margin: 0.3rem;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 0.25px solid rgba(255, 255, 255, 0.95);
}

#delete_button_svg {
  width: 1.3rem;
  height: 1.3rem;
}

.delete_button {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  height: 2.5rem;
  width: 4rem;
}

#taskname {
  font-family: 'Aeonik';
  color: #41417C;
}
/*# sourceMappingURL=main.css.map */